---
import { Icon } from 'astro-icon';

const { id = 'sectionnav', links = [], actions = [] } = Astro.props;
---

<nav class="w-screen" aria-label="Section Navigation" {...id ? { id } : {}}>
  <ul class="menu bg-base-200 lg:menu-horizontal rounded-box">
    {
      links.map(({ text, href, icon }) => (
        <li>
          <a href={href}>{text}</a>
        </li>
      ))
    }
    {
      actions.map(({ text, href }) => (
        <li>
          <a href={href}>{text}</a>
        </li>
      ))
    }
  </ul>
</nav>
