---

---

<dialog id="contact-modal" class="modal modal-bottom sm:modal-middle bg-page">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" style="line-height:0.3">✕</button>
    </form>

    <h3 class="font-bold text-xl">Let's Connect!</h3>
    <table class="table-auto text-lg">
      <tbody>
        <tr>
          <th>Phone:</th>
          <td><a href="tel:5128432254" target="tel">(512) 843-2254</a></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><a href="mailto:nik.chanda@gmail.com" target="email">nik.chanda@gmail.com</a></td>
        </tr>
      </tbody>
    </table>
    <!--    
      <form>
      <div class="form-control w-full max-w-xs">
        <label class="label" for="name">
          <span class="label-text">Name</span>
        </label>
        <input name="name" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
      </div>
      <div class="form-control w-full max-w-xs">
        <label class="label" for="email">
          <span class="label-text">Email</span>
        </label>
        <input name="email" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
      </div>
      <div class="form-control w-full max-w-xs">
        <label class="label" for="phone">
          <span class="label-text">Phone</span>
        </label>
        <input name="phone" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
      </div>
      <div class="form-control w-full max-w-xs">
        <label class="label" for="phone">
          <span class="label-text">Message</span>
        </label>
        <textarea class="textarea textarea-bordered" placeholder="Message"></textarea>
      </div>
    </form>
  -->
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
