---
import Headline from '~/components/ui/Headline.astro';
import SectionNav from '~/components/widgets/SectionNav.astro';

const { id = 'cvheader', title = '', links = [], downloads = [] } = Astro.props;
---

<header id={id} class="text-center sticky top-14 z-40">
  <h1 class="font-bold font-heading leading-tighter tracking-tighter text-heading text-3xl lg:text-4xl mb-2">
    {title}
  </h1>
  <SectionNav links={links} />
</header>
