---
import Headline from '~/components/ui/Headline.astro';
import SectionNav from '~/components/widgets/SectionNav.astro';

const { id = 'cvheader', title = '', links = [], downloads = [] } = Astro.props;
---

<section
  id={id}
  class="mx-auto w-full border-b border-gray-50/0 transition-[opacity] ease-in-out"
  style="position:sticky;top:90px;z-index:50"
>
  <div class="absolute inset-0"></div>
  <header class="">
    <Headline title={title} />
    <SectionNav links={links} />
  </header>
</section>
