---
import Layout from '~/layouts/PageLayout.astro';
import ContentSection from '~/components/widgets/ContentSection.astro';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import FeatureCarousel from '~/components/widgets/FeatureCarousel.astro';
import CVExperience from '~/components/cv/CVExperience.astro';
import CVEducation from '~/components/cv/CVEducation.astro';
import CVSkills from '~/components/cv/CVSkills.astro';
import CVRecognition from '~/components/cv/CVRecognition.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { spaHeaderNav } from '~/utils/navigation';

const header = spaHeaderNav();
const metadata = {
  title: 'Nik Chanda - Trusted Technology Leader',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header links={header.links} actions={header.actions} isSticky showToggleTheme />
  </Fragment>

  <ContentSection id="about">
    <Hero
      id="about-hero"
      title="Nik Chanda"
      tagline="Agile Software Innovator & Servant Leader"
      actions={[{ variant: 'primary', text: 'Contact', href: '/contact' }]}
      as="subsection"
    >
      <Fragment slot="subtitle">
        Technology Executive with the balanced blend of leadership excellence, technical expertise, and strategic
        thinking needed to build high-impact, results-oriented organizations. With a 15+ year rich tapestry of software
        prowess, and a decade perfecting the art of nurturing technology talent, Nik Chanda delivers innovative
        leadership in the high-stakes world of SaaS and beyond.
      </Fragment>
    </Hero>

    <FeatureCarousel
      title="Professional Highlights"
      id="about-highlights"
      items={[
        {
          title: 'Description:',
          description:
            'Developed a comprehensive brand identity for a tech startup, Tech Innovators, specializing in disruptive innovations. The goal was to convey a modern yet approachable image that resonated with both corporate clients and tech enthusiasts.',
        },
        {
          title: 'Role:',
          description:
            'Led the entire branding process from concept to execution. Created a dynamic logo that symbolized innovation, selected a vibrant color palette, and I designed corporate stationery, website graphics, and social media assets.',
        },
      ]}
      as="div"
    />
  </ContentSection>

  <ContentSection id="experience" title="Professional Experience">
    <CVExperience as="div" />
  </ContentSection>

  <ContentSection id="education" title="Education & Professional Development">
    <CVEducation as="div" />
  </ContentSection>

  <ContentSection id="skills" title="Skills, Tools & Technologies">
    <CVSkills cv='cto' as="div" />
  </ContentSection>

  <ContentSection id="recognition" title="Patents & Recognition">
    <CVRecognition as="div" />
  </ContentSection>

  <ContentSection id="discussion" title="Discussion">
    <BlogLatestPosts
      id="blog"
      title="Explore my insightful articles on my blog"
      information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
    >
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </BlogLatestPosts>

    <CallToAction
      title="Let's get building together"
      subtitle="Ready to see how to move your team forward?"
      actions={[
        {
          variant: 'primary',
          text: 'Contact',
          href: '/',
        },
      ]}
    />
  </ContentSection>

  <style>
    p {color:red;}
  </style>
</Layout>
