---
import Layout from '~/layouts/CVLayout.astro';

const metadata = {
  title: 'Director of Software Engineering',
  slug: 'director',
};
---

<Layout metadata={metadata}>
  <Fragment slot="summary">
    <p>hello, world</p>
  </Fragment>
</Layout>
