---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Content from '~/components/widgets/Content.astro';

import { cvHeaderNav } from '~/utils/navigation';
const header = cvHeaderNav();

const metadata = {
  title: 'Passion for Excellence - A Commitment to Value and Collaboration',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>

  <Fragment slot="header">
    <Header links={header.links} actions={header.actions} isSticky showToggleTheme />
  </Fragment>

  <Content title="What's in a Title?" columns={1}>
    <p>
      Throughout my professional journey, my primary objective has always been clear: to contribute meaningful value to
      the world by delivering unparalleled products to my customers. This unyielding dedication to excellence forms the
      core of my ethos, transcending titles and roles. Whether I'm wearing the hat of a developer, director, VP, or CTO,
      my focus remains unwavering in its commitment to producing the best. For me, the title is secondary; what truly
      matters is the tangible impact and positive difference I can make through the products I help shape.
    </p>

    <p>
      One of the most pivotal avenues to achieving this lofty goal lies in building and being part of an outstanding
      team. A cohesive, skilled, and motivated team is the bedrock of any successful venture. By fostering an
      environment where every team member can thrive, learn, and innovate, we naturally position ourselves to create
      products that stand out. I firmly believe that when you have the right people collaborating with a shared vision,
      the outcomes are not just good — they're extraordinary. It's this belief in collective excellence that drives me,
      irrespective of the role I'm playing.
    </p>

    <p>
      Drawing from this core belief and passion for excellence, I invite you to embark on a collaborative journey with
      me. Consider this an open invitation to 'choose your own adventure.' Whether you're seeking a hands-on developer,
      a strategic director, a visionary VP, or a forward-thinking CTO, I'm eager to explore how I can align with and
      elevate your objectives. Let's co-create a narrative where your needs intersect with my expertise, and together,
      we can craft solutions that resonate, innovate, and excel. Your story deserves the best characters, and I'm
      excited to play a role in its next chapter.
    </p>
  </Content>
</Layout>
